#slider{
	margin-top: -48px;

	h5{
		font-family: $lato;
		font-weight: 700;
		font-size: 80px;
		color: white;
		margin: 0 auto;
		

		strong{
			font-family :$play !important;
			font-style: italic;
			font-weight: 700;
		}

		i{
			border-bottom: 6px solid $blue;
			font-style: normal;

		}

		@include breakpoint(small only){
			font-size:30px;
			margin-top: -20px;
		}
	}

}

.master-slider{
	.ms-info{
	margin: 0 auto !important;
	margin-top: 10% !important;

	a{
		font-size: 18px;
		font-family: $lato !important;
		text-transform: none;
		color: white;
		font-style: italic;
		font-weight: 700;
		padding: 15px 30px !important;
		border-radius: 50px;
		border: 2px solid white;
		transition:0.5s !important;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		
		@include breakpoint(small only){
			font-size:14px;
			margin-top:15px;
			
		}


		&:hover{
			transition:0.5s !important;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			background-color: $blue;
			border: 0px;
			/*color: $black;*/
		}
	}
}
}


