#slider{

	h5{
		font-family: $lato;
		font-size: 80px;
		color: white;
		margin: 0 auto;
		text-transform: uppercase;

		@include breakpoint(small only){
		}
	}

}



.ms-info{
	margin: 0 auto !important;
	margin-top: 6% !important;
	a{
		font-size: 18px;
		font-family: $lato !important;
		text-transform: none;
		color: white;
		font-style: italic;
		font-weight: 700;
		padding: 10px 20px !important;
		border-radius: 50px;
		border: 2px solid white;
	}
}