#slider{
	list-style: none;
	position: relative;
}

.flewslider{
	.slides{
		list-style: none !important;

		img{
			height: 100vh;
			width:100% !important;
		}
	}
}

img.slide{
	width: 100%;
	height: auto;
}

.content-slide{
	position: absolute;
	top: 50%;
	h5{
		font-family: $lato;
		font-size: 80px;
		color: white;
		margin: 0 auto;
		text-transform: uppercase;
	}
	a{

	}
}